String reduction

In [44]:
def reds(str1):
  str1 = list(str1)  # we convert the string to list
  st = set(['a','b','c'])  # we have created a set with three inputs a,b, c
  x = True
  while x:
    i = 0
    x = False #after entering into the loop you just make your condition false to avoid infinite loop iteration
    while i<len(str1)-1: 
      if str1[i] != str1[i+1]: # we'll compire the current elements with next element
        str1[i:i+2] = list(st-set([str1[i],str1[i+1]]))  # we will replace the 2 index with single index and assigning it a differenr value
        print(str1)
        x = True # we will make again the condition true to check from the beginning
      else:
        i += 1 # if the current and next elements are same then we move forward for further elements for ex...if input aabcab, int his cur and next elements are a, so we will move our cur to second and third elements and so on
  str1 = ''.join(str1) #coverting list into string again
  return len(str1)
reds("abcabc")

['c', 'c', 'a', 'b', 'c']
['c', 'b', 'b', 'c']
['c', 'b', 'a']
['a', 'a']

2

this is mathematical approach where you do not care about the string

In [45]:
def reductions(string):
    n = [0,0,0]
    for letter in string:
        if letter == 'a':
            n[0]+=1
        elif letter == 'b':
            n[1]+=1
        else:
            n[2]+=1
    print(n)
    while True:
        count = 0
        for i in n:
            if i == 0:
                count+=1
        if count>=2:
            break

        n.sort(reverse=True)
        n[0]+=-1
        n[1]+=-1
        n[2]+=1
        print(n)

    sum = 0
    for i in n:
        sum+=i
    print(sum)
reductions('abcabbacc')

[3, 3, 3]
[2, 2, 4]
[3, 1, 3]
[2, 2, 2]
[1, 1, 3]
[2, 0, 2]
[1, 1, 1]
[0, 0, 2]
2